@charset "utf-8";
/* CSS Document */

html{
	height: 98%;
}

body{
	background-color: #510022;
	background-position:center;
	background-repeat:no-repeat;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #FFF;
	text-align: center;
	height: 98%;
}

a{
	color:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	text-decoration:none;
}

a:hover{
	color:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	text-decoration:underline;
}

a:visited{
	color:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	text-decoration:none;
}

.circle{
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: #FFFFFF;
	border-radius: 50px;
}

#circle-inner{
	z-index: 50;
	width: 90px;
	height: 90px;
	margin-top: -45px;
	margin-left: -45px;
	background-color: #510022;
}

#circle-outter{
	width: 80px;
	height: 80px;
	margin-top: -40px;
	margin-left: -40px;
	background-color: #FFFFFF;
}