@charset "utf-8";
/* CSS Document */

html{
	height: 99%;
}

body{
	background-color: #510022;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #FFF;
	text-align: center;
	background-image:url(images/loli-dragon-background.png);
	background-position:top;
	background-repeat:no-repeat;
	height: 99%;
}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 80px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -80px; /* negative value of footer height */
	height: 80px;
	text-align:center;
	vertical-align:bottom;
	clear:both;} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

.box {
    width:100px;
    height:100px;
    position:fixed;
    margin-left:-50px; /* half of width */
    margin-top:-50px;  /* half of height */
    top:50%;
    left:50%;
}

a{
	color:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	text-decoration:none;
}

a:hover{
	color:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	text-decoration:underline;
}

a:visited{
	color:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	text-decoration:none;
}

.div1{
	vertical-align:top;
	display: inline-block;
	vertical-align:central;
	width:100px;
	height:30px;
	border-radius:3px;
	background: none;
	background-position:top;
	background-repeat:no-repeat;
}

.button{
	display:none;
	vertical-align:central;
	text-align:center;
}

.div1 span.text{
	visibility: hidden;
	vertical-align:top;
	text-align:left;
	opacity:0;
}

.div1:hover span.text{
	visibility: visible;
	opacity: 100;
}