html, body {
	width: 100%;
	height:100%;
	margin: 0px;
}

#backgroundCanvas{
	display:block;
}

.songList{
	position: absolute;
	right: 10px;
	bottom: 10px;
	background-color: rgba(225, 225, 225, 0.3);
	border-radius: 10px;
	padding: 10px;
}

.songList > a{
	color: #000;
	margin-bottom: 5px;
	margin-top: 5px;
}

.songList > a:hover{
	text-shadow: 1px 1px #FFF;
}

.songList > a:visited{
	color: #000;
}

.songList > .prompt{
	color: #FFF;
}

.eqToggle{
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 60px;
	height: 60px;
	background-color: rgba(225, 225, 225, 0.3);
	border-radius: 30px;
	text-align: center;
}

.eqToggle > div{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}