.navbar{
	background-color: #FFF;
}

.navbar-brand{
	font-family: 'Lobster', cursive;
}

body{
	margin: 0;
	padding: 0;
}

#wrapper{
	max-width: 100vw;
	overflow: hidden;
}

.vert-center{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#cover{
	z-index: -1;
	position: relative;
	min-width: 300px;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: url('cover.png') no-repeat;
	background-size: cover;
	background-position: center;
}

video#bgvid{
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

#cover-overlay{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

#cover-overlay-message{
	position: absolute;
	background-color: rgba(225, 225, 225, 0.5);
	height: 20%;
	width: 100%;
	top: calc(50% - 20% / 2);
	text-align: center;
}

#cover-overlay-message > p > span{
	font-weight: bold;
	color: #FFE3A3;
}

#cover-overlay-message > p{
	color: white;
	font-family: 'Lobster', cursive;
	font-size: 8vh;
	text-shadow: 0.5vh 0.5vh rgba(0, 0, 0, 0.5);
}

.section{
	width: 100vw;
	overflow: hidden;
}

.section-background{
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0px;
	left: 0px;
	background-size: cover;
	background-position: center;
}

.section-background:nth-child(1){
	z-index: -2;
	background-image: url(http://media.steampowered.com/apps/dota2/images/wallpapers/CM_snowdrop_set.jpg);
}

#pretro{
	height: 200px;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 3em;
	background-color: #FF7700;
	text-shadow: 0.05em 0.05em white;
}

#sec1 > .container > .row:nth-child(1) > div:nth-child(1) > .content-wrapper{
	background-color: rgba(255, 138, 199, 0.8);
}

#sec1 > .container > .row:nth-child(1) > div:nth-child(2) > .content-wrapper{
	background-color: rgba(255, 209, 138, 0.8);
}

#sec1 > .container > .row:nth-child(1) > div:nth-child(3) > .content-wrapper{
	background-color: rgba(138, 205, 225, 0.8);
}

#sec1 > .container > .row:nth-child(2) > div:nth-child(1) > .content-wrapper{
	background-color: rgba(225, 225, 225, 0.8);
}

.content-wrapper{
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
}

#epic-win-gif{
	width: 100%;
	height: 300px;
	background-image: url(http://media.giphy.com/media/11MICB2ZmzK036/giphy.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#try{
	height: 100vh;
	text-align: center;
	font-size: 3em;
	background-color: rgba(0, 0, 0, 0.8);
}

#try > div > p{
	color: white;
	font-family: 'Lobster', cursive;
	text-shadow: 0.05em 0.05em black;
}