@charset "utf-8";
@font-face { font-family: Quarca; src: url(font/QuarcaNormRegular.otf); }
@font-face { font-family: Cream; src: url(font/creampuf.otf); }

html{
}

body{
    margin: 0;
    background-color: #90c8d6;;
    background-position: bottom;
    background-repeat: repeat-x;
    font-family: Quarca, Verdana, Geneva, sans-serif;
    font-size: 30px;
    color: #FFF;
    text-align: center;
    height: 100%;
}

a{
    color:#FFBED5;
    font-family:Verdana, Geneva, sans-serif;
    text-decoration:none;
}

a:hover{
    color:#FFBED5;
    font-family:Verdana, Geneva, sans-serif;
    text-decoration:underline;
}

a:visited{
    color:#FFBED5;
    font-family:Verdana, Geneva, sans-serif;
    text-decoration:none;
}

p{
    margin: 0;
}

.h1{
    font-family: Cream, Verdana, Geneva, sans-serif;
    font-size: 68px;
    text-shadow: 2px 2px #454545;
}

.prlxFrame{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.contentFrame{
    height: 400px;
    position: relative;
    text-align: center;
    top: 0px;
    width: 100%
}

#s1{
    background-color: #90c8d6;
    background: url(img/back-grass-1.png) 50% 400px repeat-x fixed; min-height: 1000px;

}

#grass2{
    width: 100%;
    height: 1000px;
    position: absolute;
    background-position: bottom;
    background: url(img/back-grass-2.png) 50% 500px repeat-x fixed;
}

#s2{
    margin-top: -450px;
    background: url(img/back-grass-2.png) 60% 500px repeat-x fixed; min-height: 1000px;
}

.sectionElement{
    position: relative;
    margin: 0 auto;
}

#se1Left{
    top: -200px;
    left: -250px;
    width: 450px;
}

#se1Right{
    top: -480px;
    left: 280px;
    width: 450px;
}